<main class="container">
  <h1>All Quotes</h1>
  <section>
    <div class="grid">
      <button (click)="sortQuotes('title')" class="secondary">
        Sort by Book
      </button>
      <button (click)="sortQuotes('author')" class="secondary">
        Sort by Author
      </button>
    </div>
  </section>
  <section class="quotes-wrapper">
    <blockquote *ngFor="let quote of quotes">
      <article>
        <p>{{ quote.content }}</p>
        <div class="tabs-container">
          <kbd *ngFor="let tag of quote.tags">{{ tag }}</kbd>
        </div>
        <footer>
          <span
            ><strong>{{ quote.author }}</strong></span
          >,
          <cite>{{ quote.title }}</cite>
        </footer>
      </article>
    </blockquote>
  </section>
</main>
