<header class="container-fluid">
  <nav>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
          >BooksInsta</a
        >
      </li>
    </ul>
    <ul>
      <li>
        <a
          routerLink="/quotes"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Quotes</a
        >
      </li>
      <li>
        <a
          routerLink="/authors"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Authors</a
        >
      </li>
    </ul>
    <ul *ngIf="currentUser; else authenticate">
      <li>
        <a
          routerLink="/user-space"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >{{ currentUser }}'s Quotes</a
        >
      </li>
      <li>
        <button (click)="logout()" routerLinkActive="active" class="secondary">
          Logout
        </button>
      </li>
    </ul>
    <ng-template #authenticate>
      <ul>
        <li>
          <a
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Login</a
          >
        </li>
        <li>
          <a
            routerLink="/signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Signup</a
          >
        </li>
      </ul>
    </ng-template>
  </nav>
</header>

<router-outlet></router-outlet>
